.dashboard-link a {
    text-decoration: none;
}

.dashboard-button button {
    border: none !important;
}

.dashboard-button a {
    text-decoration: none;
}

header div {
    display: flex;
    justify-content: space-between;
}

.page-content {
    margin-top: 30px;
    margin-bottom: 40px;
}

.flash-close {
    font-size: 12px;
}

.posts-table {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
